<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- Al implementar el proyecto de la biblioteca de servicios, el contenido del archivo de configuración se debe agregar al archivo 
  app.config del host. La configuración del sistema no admite archivos de configuración en las bibliotecas. -->
  <system.serviceModel>
    <!--
    <services>
      <service name="WcfCalculadora.Service1" behaviorConfiguration="b1">
        <clear />
        <endpoint address="mex" binding="basicHttpBinding" contract="WcfCalculadora.IService1"></endpoint>  
            <endpoint address="mex3" binding="netTcpBinding" contract="WcfCalculadora.IService1"></endpoint>  
            <endpoint address="mex1" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>  
            <endpoint address="mex2" binding="mexTcpBinding" contract="IMetadataExchange"></endpoint>  
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfCalculadora/Service1/" />
           <add baseAddress="net.tcp://localhost:8734/Design_Time_Addresses/WcfCalculadora/Service1/" />  
          </baseAddresses>
        </host>
      </service>
    </services>
-->
    <services>
      <service behaviorConfiguration="b1" name="WcfCalculadora.Service1">
        <endpoint address="mextcp" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint address="" binding="netTcpBinding" contract="WcfCalculadora.IService1" name="Tcp"/>
        <!-- Used for connecting the service to CMS-->
        <endpoint address="mexhttp" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint address="" binding="basicHttpBinding" contract="WcfCalculadora.IService1" name="Http"/>
        <!-- Used for connecting the webpages to the service-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/WcfCalculadora/Service1/" />
            <add baseAddress="net.tcp://localhost:808/Design_Time_Addresses/WcfCalculadora/Service1/"/>
          </baseAddresses>
        </host>
      </service>
    </services>




    <behaviors>
      <serviceBehaviors>
        <behavior name ="b1">
          <!-- Para evitar revelar información de los metadatos, 
          establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, 
          establezca el valor siguiente en true. Para no revelar información sobre las excepciones 
          establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
